
.photo-frame {
  width: 250px;
  height: 150px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-frame img {
  width: 100%;
  height: auto;
}

.photo-frame img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px; /* Slight rounding for the image */
  object-fit: cover; /* Ensures the image fits nicely */
}