h2#title {
  font-weight: bold;
  color: #ffffff;
}

#sub-title {
  font-size: 1.25rem;
  color: #a6a6a6; /* Light gray text for subtitle */
}

.dev-by {
  font-weight: 500;
  color: #a6a6a6;
  font-size: 13px;
}

.tech-stack {
  margin-top: 24px;

  .techs {
    background-color: #a6a6a6;
    color: #1a1a2e;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 9999px;
    border: 0 solid #a6a6a6;
    border-width: 1px;
    font-size: 12px;
    font-weight: 700;
  }
}

.socials {
  background-color: #a6a6a6;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #1a1a2e;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  }

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.email a {
color: #2b482d;
}

a:link,
a:visited,

a:active { text-decoration: none; }

a:hover  {
text-decoration: none;
animation: smoothHover 0.4s ease forwards;
}

.font-size-50 {
  font-size: 50px;
}


@keyframes smoothHover {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.1);
}
100% {
  transform: scale(1.05);
}
}

.countdown-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countdown-input input {
  width: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.countdown-input input:focus {
  border-color: #007bff;
}

.btn-capture {
  padding: 15px;
  font-size: 18px;
  background-color: #000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;

  i {
    margin-right: 10px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

#frame-container {
  padding: 20px;
}

select {
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
  color: #1a1a2e;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.3s ease;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4L2 0zm0 5L0 3h4l-2 2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 8px 10px;
}

select:focus {
  border-color: #4b4453;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select:focus + label,
select:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

/* Modern dropdown styles */
select::-ms-expand {
  display: none;
}

select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

select option:hover {
  background-color: #007bff;
  color: #fff;
}


#numberOfPhotos {
  min-width: 150px;
}

.col-auto {
  label {
    font-weight: bold;
    color: #ffffff;
  }
}

.timer-select {
  margin-top: 10px;
}

.background {
  margin-top: 10px;

  .background-item {
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-weight:500;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    border-radius: 10px;

    .background-label {
      margin-left: 15px;
      color: #474747;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    border: 5px solid #ffc107;
    color: #413f3f;
  }
}

#photo-container {
  margin-top: 10px;
}